#title{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color:black;
  text-decoration: none;
}

.input-group{
  width:400px;
  height:50px;
  font-size:30px;
  margin:15px;
  left:10%;
}

form{
  width:400px;
}

.wrap {
	position: absolute;
	top: 120%;
	left: 57%;
	margin-top: -100px;
	margin-left: -89px;
	text-align: center;
}

a {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 20px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
  padding: 20px 30px;
}

a.button {
	color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
  text-decoration: none;
}

a.button:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

#container{
  left:20%;
}

#output{
  margin:20%;
}